<h1>Teams</h1>

<ul>
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team_path(team) %>
      <ul>
        <li>Coach: <%= team.coach.name %></li>
        <li>Players:</li>
        <ul>
          <% team.players.each do |player| %>
            <li><%= player.name %></li>
          <% end %>
        </ul>
        <li>Competitions:</li>
        <ul>
          <% team.competitions.each do |competition| %>
            <li><%= competition.name %></li>
          <% end %>
        </ul>
      </ul>
    </li>
  <% end %>
</ul>

<ul>
  <li>
    <%= link_to 'About', about_path %>
  </li>
  <li>
    <%= link_to 'Home', root_path %>
  </li>
</ul>

