<h1>Teams</h1>

<ul class="list-group">
  <% @teams.each do |team| %>
    <li class="list-group-item">
      <%= link_to team.name, team_path(team) %>
      <ul class="list-group">
        <li class="list-group-item">Coach: <%= team.coach.name %></li>
        <li class="list-group-item">Players:</li>
        <ul class="list-group">
          <% team.players.each do |player| %>
            <li class="list-group-item"><%= player.name %></li>
          <% end %>
        </ul>
      </ul>
    </li>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <%= link_to 'About', about_path %>
  </li>
  <li class="list-group-item">
    <%= link_to 'Home', root_path %>
  </li>
</ul>

<ul class="list-group">
<li class="list-group-item">
<%= paginate @teams %>
</li>
</ul>