<h1><%= @team.name %></h1>

<p>Coach: <%= @team.coach.name %></p>
<h2>Players:</h2>
<ul>
  <% @team.players.each do |player| %>
    <li><%= player.name %> (Position: <%= player.position.name %>)</li>
  <% end %>
</ul>

<h2>Competitions:</h2>
<ul>
  <% @team.competitions.each do |competition| %>
    <li><%= competition.name %></li>
  <% end %>
</ul>
