<h1>Welcome to the Football App</h1>

<%= form_with(url: search_players_path, method: :get, local: true) do %>
  <%= label_tag :query, "Search Players:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<h2>Navigation</h2>
<ul>
  <li><%= link_to 'Players', players_path %></li>
  <li><%= link_to 'Teams', teams_path %></li>
  <li><%= link_to 'Coaches', coaches_path %></li>
  <li><%= link_to 'Competitions', competitions_path %></li>
  <li><%= link_to 'Positions', positions_path %></li>
  <%= link_to 'About', about_path %>
</ul>