<h1>Players</h1>

<%= form_with(url: search_path, method: :get, local: true) do %>
  <%= label_tag :query, "Search Players:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @players.each do |player| %>
    <li>
      <%= link_to player.name, player_path(player) %> -
      Position: <%= player.position.name %>,
      Team: <%= player.team.name %>,
      Coach: <%= player.coach.name if player.coach %>
    </li>
  <% end %>
</ul>
